// COLOR VARIABLES

$green_color: #bff747;
$white_smoke: #fdfde1;
$black_color: #000000;
$white_color: #ffffff;
$light-nav-border: #0000001a;
$dark_bg: #000000;
$light_bg: #fffff5;

//  FONT-FAMILY VARIABLES

$primary-font: "Syne", sans-serif;
$secondary-font: "Inter", sans-serif;

// FONT-SIZE VARIABLES  (DESKTOP)

$large_heading_desktop: 104px;
$medium_heading_desktop: 70px;
$small_heading_desktop: 30px;
$large_para_desktop: 21px;
$medium_para_desktop: 18px;
$small_para_desptop: 16px;

// FONT-SIZE VARIABLES  (MOBILE)

$large_heading_mobile: 48px;
$medium_heading_mobile: 36px;
$small_heading_mobile: 30px;
$medium_para_mobile: 18px;
$small_para_mobile: 16px;

// FONT-SIZE VARIABLES  (TABLET)

$large_heading_mobile: 48px;
$medium_heading_mobile: 36px;
$small_heading_mobile: 30px;
$medium_para_mobile: 18px;
$small_para_mobile: 16px;
